@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>


<div class="container ">

<h1>All Roles</h1>

<a class="btn btn--blue col-3"  asp-action="addrole">Add Role</a>
@if (Model.Any())
{
    <div style="border:1px solid red" class="p-3 m-4">

    <table class="table " style="text-align:center">
           <thead>
              <tr>
                  <th scope="col" style="color:#b7472a">ID</th>
                  <th scope="col" style="color:#b7472a">Name</th>
                  <th scope="col"style="color:#b7472a">Option</th>
              </tr>
           </thead>
           <tbody>
                       @foreach (var i in Model)
              {
                <tr>
                    <td scope="col" style="color:#b7472a">@i.Id</td>
                    <td scope="col" style="color:#b7472a">@i.Name</td>
                    <td>
                        <div class="table-data-feature">
                                <a asp-action="EditRole" title="Edit" asp-route-id="@i.Id"><i class="fa fa-edit mr-1"style="color:blue" ></i></a> 
                                <a asp-action="DeleteRole" asp-route-id="@i.Id" title="Delete"><i class="fa fa-trash mr-1" style="color:red"></i></a>
                         </div>       
                    </td>
                </tr>
              }
           </tbody>
              </table>
    </div>

}
else{
    <h3 class="mt-3">No Roles In Please Add Role</h3>
}
</div>